* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scrollbar-gutter: stable;
}

body {
    font-family: sans-serif;
    background-color: #f9f9f9;
    color: #f9f9f9;
    margin-block: 30px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.key {
    background-color: #6bcfa8;
    padding-inline: 5px;
    padding-block-end: 1.5px;
    border-radius: 5px;
    margin-inline-start: 6px;
    font-size: .9rem;
    color: #f9f9f9;
    border: 1px solid #91dec1;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.dataBtn {
    color: inherit;
    border: none;
    background-color: #3ecf8e;
    border-radius: 5px;
    padding: 10px;
    font-weight: 900;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: background-color 0.2 ease;
}

.dataBtn:hover {
    cursor: pointer;
    background-color: #2eaf76;
}

.deleteBtn {
    color: #f9f9f9;
    border: none;
    background-color: #e63946;
    border-radius: 4px;
    font-weight: 900;
    padding: 5px;
    padding-inline: 8px;
}

.deleteBtn:hover {
    cursor: pointer;
    background-color: #c63946;
}

.priorityBtn {
    color: #333333;
    border: none;
    background-color: #e6394700;
    border-radius: 4px;
    font-weight: 900;
    padding: 5px;
    padding-inline: 8px;
    font-size: 1.2rem;
}

.priorityBtn:hover {
    cursor: pointer;
    background-color: #c6394700;
}

.add-form {
    margin-block-start: 20px;
    border: 1px solid #3d8a38;
    border-radius: 10px;
    padding: 10px;
    font-weight: 900;
}

table {
    border-collapse: collapse;
    width: 600px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    overflow: hidden;
    margin-block-start: 20px;
}

th {
    background-color: #3ecf8e;
    color: #f9f9f9;
    padding: 12px 5px;
}

td {
    padding: 12px 15px;
    border-block-end: 1px solid #eeeeee;
    color: #333333;
}

td, th {
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.priority-row {
    background-color: #d9f7ea !important;
}

.last-priority-row {
    border-block-end: 1px solid #333333;
}

