* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scrollbar-gutter: stable;
}

body {
    font-family: sans-serif;
    background-color: #f9f9f9;
    color: #f9f9f9;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.page-content {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 30px;
    margin-inline-end: 30px;
    min-height: 100vh;
}

.key {
    background-color: #6bcfa8;
    padding-inline: 5px;
    padding-block-end: 1.5px;
    border-radius: 5px;
    margin-inline-start: 6px;
    font-size: .9rem;
    color: #f9f9f9;
    border: 1px solid #91dec1;
}

.dataBtn {
    color: #f9f9f9;
    border: none;
    background-color: #3ecf8e;
    border-radius: 5px;
    padding: 10px;
    font-weight: 900;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: background-color 0.2 ease;
    width: fit-content;
}

.dataBtn:hover {
    cursor: pointer;
    background-color: #2eaf76;
}

.historyBtn {
    color: inherit;
    border: none;
    background-color: #3ecf8e;
    padding: 10px;
    font-weight: 900;
    transition: background-color 0.2 ease;
}

.historyBtn:hover {
    cursor: pointer;
    background-color: #2eaf76;
}

.tasksBtn {
    color: inherit;
    border: none;
    background-color: #3ecf8e;
    padding: 10px;
    font-weight: 900;
    transition: background-color 0.2 ease;
}

.tasksBtn:hover {
    cursor: pointer;
    background-color: #2eaf76;
}

.scheduleBtn {
    color: inherit;
    border: none;
    background-color: #3ecf8e;
    padding: 10px;
    font-weight: 900;
    transition: background-color 0.2 ease;
}

.scheduleBtn:hover {
    cursor: pointer;
    background-color: #2eaf76;
}

.notesBtn {
    color: inherit;
    border: none;
    background-color: #3ecf8e;
    padding: 10px;
    font-weight: 900;
    transition: background-color 0.2 ease;
}

.notesBtn:hover {
    cursor: pointer;
    background-color: #2eaf76;
}

.deleteBtn {
    color: #333333;
    border: none;
    background-color: transparent;
    border-radius: 4px;
    padding: 5px;
    padding-inline: 8px;
    cursor: pointer;
}

.deleteBtn:hover svg {
    stroke-width: 2.5;
}

.priorityBtn {
    color: #333333;
    border: none;
    background-color: #e6394700;
    border-radius: 4px;
    font-weight: 900;
    padding: 5px;
    padding-inline: 8px;
    font-size: 1.2rem;
    cursor: pointer;
}

.priorityBtn::before {
    content: '☆';
}

.priorityBtn:hover::before {
    content: '★';
}

.unpriorityBtn {
    color: #333333;
    border: none;
    background-color: #e6394700;
    border-radius: 4px;
    font-weight: 900;
    padding: 5px;
    padding-inline: 8px;
    font-size: 1.2rem;
    cursor: pointer;
}

.unpriorityBtn::before {
    content: '★';
}

.unpriorityBtn:hover::before {
    content: '☆';
}

.completeBtn {
    color: #333333;
    border: none;
    background-color: #e6394700;
    border-radius: 4px;
    font-weight: 900;
    padding: 5px;
    padding-inline: 8px;
    font-size: 1.2rem;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2rem;  /* Keeps the horizontal space identical */
    height: 2rem; /* Keeps the vertical space identical */
}

.completeBtn::before {
    content: '☐';
}

.completeBtn:hover::before {
    content: '🗹';
}

.completeBtn.checked::before {
    content: '🗹';
}

.completed {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

.add-form {
    margin-block-start: 20px;
    border: 1px solid #3d8a38;
    border-radius: 10px;
    padding: 10px;
    font-weight: 500;
    width: fit-content;
}

.tasks-list {
    color: #333333;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.task-options {
    display: flex;
    gap: 10px;
}

h1 {
    color: #333333;
    font-size: 1.1rem;
    margin-block-end: 8px;
}



.bottom-space {
    margin-block-end: 20px;
}

.task label, input[type=checkbox] {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    overflow: hidden;
    margin-block-start: 20px;
    width: 100%;
}

th {
    background-color: #3ecf8e;
    color: #f9f9f9;
    padding: 12px 5px;
}

td {
    padding: 12px 15px;
    border-block-end: 1px solid #eeeeee;
    color: #333333;
}

.max-width {
    width: 100%;
}

th {
    text-align: center;
}

td {
    text-align: left;
}

td:focus {
    outline: 2px solid #006eff;
    outline-offset: -2px;
}

td input[type=checkbox] {
    width: 18px;
    height: 18px;
}

tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.priority-row {
    background-color: #d9f7ea !important;
}

.last-priority-row {
    border-block-end: 1px solid #333333;
}

.date-row {
    background-color: #d9f7ea;
}

.sidebar {
    width: 200px;
    background-color: #3ecf8e;
    display: flex;
    flex-direction: column;
    padding-block-start: 10px;
    position: sticky;
    top: 0;
    height: 100vh;
    align-self: start;
}

.notes {
    margin-block: 30px;
}

h2 {
    font-size: 1.5rem;
    padding-inline-start: 30px;
    padding-block: 10px;
}

.active {
    background-color: #2eaf76;
}

.container {
    width: 50px;
    height: 25px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
}


.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    color: #333;
}

.block {
    background-color: #111;
    border: 1px solid #f9f9f9;
}

.bottom {
    background-color: #111;
    border-inline: 1px solid #f9f9f9;
    border-block-end: 1px solid #f9f9f9;
}

.middle {
    background-color: #111;
    border-inline: 1px solid #f9f9f9;
}

.top {
    background-color: #111;
    border-inline: 1px solid #f9f9f9;
    border-block-start: 1px solid #f9f9f9;
}

.bottomM {
    background-color: #807bea;
    border-inline: 1px solid #f9f9f9;
    border-block-end: 1px solid #f9f9f9;
}

.middleM {
    background-color: #807bea;
    border-inline: 1px solid #f9f9f9;
}

.topM {
    background-color: #807bea;
    border-inline: 1px solid #f9f9f9;
    border-block-start: 1px solid #f9f9f9;
}
.btn {
    background-color: #3ecf8e;
    margin-block-end: 30px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #2eaf76;
}

.schedule {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    height: 720px;
    border: 1px solid #333;
    border-radius: 5px;
    transform: translateX(10px);
}

.narrow {
    margin-inline: 100px;
}

.month {
    border: 1px solid #333;
}

.dark-text {
    color: #333;
}